.split-heading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.split-heading h2, .split-heading h3 {
  margin-top: 1em;
}

.split-heading h3 {
  text-align: right;
  margin-left: 1em;
}

.resume h3 {
  margin-top: 0;
  font-weight: normal;
  font-size: 1.1em;
  color: #212121;
}

.resume h2 {
  margin-bottom: 0.25em;
}
